* {
	box-sizing border-box
	margin 0
	padding 0
}
body {
	background url('/build/img/bg.png')
	color $color-cafe
	font-family $fuente-texto
	font-size 18px
	height auto
	overflow-x hidden
	width 100%
	.body-container{
		height auto
		position relative
		width 100%
		h2{
			color $color-dorado
			font-family $fuente-titulo
			font-size 45px
			font-weight 700
			text-align center
			text-transform uppercase
		}
		p{
			line-height 1.2
		}
		.brush-down{
			bottom 0
			height auto
			left 0
			position absolute
			width 100%
		}
		.brush-up{
			height auto
			left 0
			position absolute
			top 0
			width 100%
		}
		.left
		.right{
			width 50%
			img{
				height auto
				width 100%
			}
		}
		footer{
			background $color-cafe
			color $color-blanco
			padding 2em
			text-align center
			img{
				height auto
				margin 0 0 1em 0
				width 70px
			}
			a{
				color $color-dorado
				display block
			}
		}
	}
}