* {
	box-sizing border-box
	margin 0
	padding 0
}
body {
	background url('/build/img/bg.png')
	color $color-cafe
	font-family $fuente-texto
	font-size 18px
	height auto
	overflow-x hidden
	width 100%
	.body-container{
		height auto
		position relative
		width 100%
		h2{
			color $color-cafe
			font-family $fuente-titulo
			font-size 45px
			font-weight 700
			text-align center
			text-transform uppercase
		}
		p{
			line-height 1.2
			margin 1em auto
			text-align center
			width 40%
		}
		.brush-down{
			bottom 0
			height auto
			left 0
			position absolute
			width 100%
		}
		.brush-up{
			height auto
			left 0
			position absolute
			top 0
			width 100%
		}
		.golden-span{
			color $color-dorado
		}
		.left
		.right{
			width 50%
			img{
				height auto
				width 100%
			}
		}
		footer{
			align-items center
			color $color-cafe
			display flex
			justify-content center
			padding 2em
			width 100%
			img{
				height auto
				width 70px
			}
			a{
				margin-right 1em
				&:last-child{
					margin-right 0
				}
			}
			.footer-contact{
				width 230px
				p{
					margin 0
					padding 0
					text-align left
					width 100%
					.golden{
						color $color-dorado
					}
				}
			}
			.rights{
				margin 0
				width auto
			}
		}
	}
}