* {
	box-sizing border-box
	margin 0
	padding 0
}
body {
	background $color-blanco
	color $color-cafe
	font-family $fuente-texto
	font-size 18px
	height auto
	overflow-x hidden
	width 100%
	.body-container{
		height auto
		position relative
		width 100%
		h2{
			color $color-dorado
			font-family $fuente-titulo
			font-size 45px
			font-weight 700
			text-align center
			text-transform uppercase
		}
		.left
		.right{
			width 50%
		}
	}
}