//librerías a importar
@import 'libs/reset'
@import 'libs/animate'
//config
@import 'config/fonts'
@import 'config/vars'
//global stuff
@import 'global'
//secciones
@import 'sections/loading'
@import 'sections/nav'
@import 'sections/home'
@import 'sections/nosotros'
@import 'sections/servicios'
@import 'sections/contacto'
@import 'sections/popup'