.contact {
	padding 2em
	@media $xs{
		padding 2em 0
	}
	article{
		h2{
			margin-bottom 1em
		}
		// align-items center
		// display flex
		.right{
			padding-left 2em
			@media $xs{
				padding-left 1em
			}
		}
		form{
			align-items center
			// background red
			display flex
			flex-wrap wrap
			justify-content center
			margin 0 auto
			padding 1em
			width 50%
			@media $lg{
				width 55%
			}
			@media $medium-lg{
				width 75%
			}
			@media $medium-xs{
				width 90%
			}
			@media $xs{
				width 100%
			}
			input{
				background rgba($color-cafe, .1)
				border 0
				font-family $fuente-texto
				font-size 16px
				margin .5em 0
				outline none
				padding 1em
				&:focus{
					background rgba($color-dorado, .15)
				}
			}
			select{
				color rgba(black,.25)
				background rgba($color-cafe, .1)
				border none
				border-radius 0
				display none
				font-family $fuente-texto
				font-size 16px
				height 3em
				margin .5em 0
				outline none
				padding 1em
				// -webkit-appearance none
				&.right{
					text-align center
				}
				&.show{
					display block
				}
				&:focus{
					background rgba($color-dorado, .15)
				}
			}
			textarea{
				background rgba($color-cafe, .1)
				font-family $fuente-texto
				font-size 16px
				height 200px
				border 0
				margin .5em 0
				outline none
				padding 1em
				&:focus{
					background rgba($color-dorado, .15)
				}
			}
			.half-centered{
				background $color-cafe
				color $color-blanco
				cursor pointer
				font-family $fuente-titulo
				margin .5em auto 0
				max-width 200px
				padding 1em 2em
				text-align center
				text-transform uppercase
				transition all 1s
				width 50%
				&:hover{
					background $color-dorado
				}
			}
			.left{
				margin-right 1%
				width 49%
				@media $xs{
					margin-right 0
					width 100%
				}
			}
			.right{
				margin-left 1%
				width 49%
				@media $xs{
					margin-left 0
					width 100%
				}
			}
			.hundred,
			.hundredtext{
				width 100%
			}
			.add-selects{
				border 2px solid green
				border-radius 50%
				color green
				cursor pointer
				font-size 35px
				height 35px
				margin .25em 0
				opacity .5
				padding 0
				position relative
				transition all 0.5s ease-in-out
				width 35px
				&:hover{
					opacity 1
				}
				p{
					left 50%
					margin 0
					padding 0
					position absolute
					top 50%
					transform translate(-50%,-52.5%)
					@media $xs{
						text-align center
					}
				}
			}
		}
	}
}