.loading-screen {
	align-items center
	background url('../build/img/bg.png')
	background-color $color-blanco
	background-repeat repeat
	display flex
	flex-direction column
	height 100%
	justify-content center
	left 0
	opacity 0
	pointer-events none
	position absolute
	text-align center
	top 0
	width 100%
	z-index 99
	&.active{
		opacity 1
		pointer-events auto
	}
	img{
		height auto
		margin 0 auto 1em
		opacity 0
		width 10%
		@media $lg{
			width 20%
		}
		@media $medium-xs{
			width 30%
		}
		@media $xxs{
			width 40%
		}
	}
	p{
		font-family $fuente-titulo
		font-size 30px
		font-weight bold
		width 100%
	}
}