.loading-screen {
	background url('/build/img/bg.png')
	background-color $color-blanco
	background-repeat repeat
	height 100vh
	left 0
	position absolute
	text-align center
	top 0
	width 100vw
	z-index 99
	img{
		height auto
		left 50%
		margin 0 auto
		position absolute
		top 40%
		width 20%
		transform translate(-50%,-50%)
	}
	p{
		left 0
		font-family $fuente-titulo
		font-size 30px
		font-weight bold
		position absolute
		top 52%
		transform translate(0,-50%)
		width 100%
	}
}