header {
	background transparent
	border-bottom 2px solid transparent
	height 80px
	left 0
	padding 0 2em
	position fixed
	top 0
	width 100%
	z-index 9
	&.scrolled{
		background url('/build/img/bg.png')
		// border-bottom 2px solid $color-cafe
		a{
			color $color-cafe
		}
	}
	nav{
		// align-items center
		display flex
		justify-content space-around
		height 100%
		width 100%
		.logo-horizontal{
			h1{
				display none
			}
			.logo-horizontal-img{
				height auto
				width 140px
			}
		}
		ul{
			font-family $fuente-titulo-secundario
			padding 1.35em 0
			li{
				display inline-block
				a{
					border-bottom 2px solid transparent
					display block
					color $color-blanco
					height 100%
					padding .5em 1em
					text-decoration none
					width 100%
					transition all 1s ease
					&.selected{
						color $color-dorado
						border-bottom 2px solid $color-dorado
					}
				}
			}
		}
	}
}