.us {
	padding 4em 0
	height auto
	width 100%
	article{
		position relative
		h2{
			color $color-cafe
			margin 0 0 1em
		}
		p{
			margin 1em auto
			text-align center
			width 40%
		}
		.floating-knife{
			height auto
			left 0
			position absolute
			top 50%
			transform translateY(-50%)
			width 400px
		}
		.floating-table{
			height auto
			right 0
			position absolute
			top 50%
			transform translateY(-50%)
			width 400px
		}
	}
	.us-owners{
		background url('/build/img/parrilleros-fondo.jpg') no-repeat center center
		background-attachment fixed
		background-size cover
		height: 1500px;
	}
}