.us {
	padding 4em 0
	height auto
	width 100%
	article{
		position relative
		h2{
			color $color-cafe
			margin 0 0 1em
		}
		.pointer{
			height auto
			left 50%
			position absolute
			top -35px
			transform translate(-50%, -50%)
			width 50px
		}
		.floating-knife{
			height auto
			left 0
			position absolute
			top 50%
			transform translateY(-50%)
			width 400px
		}
		.floating-table{
			height auto
			right 0
			position absolute
			top 50%
			transform translateY(-50%)
			width 400px
		}
	}
	.us-info{
		padding-top 1em
	}
	.us-owners{
		background url('../build/img/parrilleros-fondo-resize.jpg') no-repeat center center
		// background-attachment fixed
		background-size cover
		height 1000px
		position relative
		.parrilleros-title{
			height auto
			left 50%
			position absolute
			top 13em
			transform translate(-50%, 0)
			width 550px
		}
	}
}