.cut-popup {
	background rgba($color-cafe,.9)
	bottom 0
	left 0
	opacity 0
	pointer-events none
	position fixed
	right 0
	top 0
	transition opacity .5s ease-in-out
	z-index 999
	&.open{
		opacity 1
		pointer-events auto
	}
	.popup-container{
		background $color-blanco
		border-radius 10px
		box-shadow 0 0 20px 10px rgba(black, .15)
		height 70%
		left 50%
		position absolute
		top 50%
		transform translate(-50%, -50%)
		width 60%
		&.t-bone{
			.t-bone{
				display block
			}
		}
		&.new-york{
			.new-york{
				display block
			}
		}
		&.rib-eye{
			.rib-eye{
				display block
			}
		}
		&.sirloin{
			.sirloin{
				display block
			}
		}
		div{
			display none
		}
	}
}