.cut-popup {
	background rgba($color-cafe,.9)
	bottom 0
	left 0
	opacity 0
	pointer-events none
	position fixed
	right 0
	top 0
	transition opacity .5s ease-in-out
	z-index 999
	&.open{
		opacity 1
		pointer-events auto
	}
	.popup-container{
		background url('../build/img/bg.png')
		box-shadow 0 0 20px 10px rgba(black, .15)
		height 600px
		left 50%
		overflow hidden
		position absolute
		top 50%
		transform translate(-50%, -200%)
		transition transform .5s ease-in-out
		width 60%
		&.showing{
			transform translate(-50%, -50%)
		}
		.info{
			display none
			h4{
				font-size 30px
				height 80px
				line-height 90px
				text-align center
				pointer-events none
				position relative
				z-index 9
			}
			.content{
				display flex
				height 82%
				left 0
				margin-top 80px
				overflow auto
				padding 0 2em 2em
				position absolute
				top 0
				width 100%
				.left{
					height 100%
					width 50%
					ul{
						align-items center
						display flex
						justify-content flex-start
						flex-wrap wrap
						min-height 100%
						width 100%
						li{
							margin 1px 2px
							overflow hidden
							width 49%
							img{
								height auto
								margin 0
								padding 0
								width 100%
							}
						}
					}
				}
				.right{
					align-items center
					display flex
					height 100%
					justify-content center
					padding 2em
					width 50%
					p{
						text-align justify
					}
				}
			}
		}
		&.t-bone{
			.t-bone{
				display block
			}
		}
		&.new-york{
			.new-york{
				display block
			}
		}
		&.rib-eye{
			.rib-eye{
				display block
			}
		}
		&.sirloin{
			.sirloin{
				display block
			}
		}
		.header{
			align-items center
			background url('../build/img/bg.png')
			display flex
			height 80px
			justify-content space-between
			left 0
			padding 0 2em
			position absolute
			top 0
			width 100%
			z-index 9
			.logo-horizontal-img{
				height auto
				margin-top 20px
				width 130px
			}
			.close-popup{
				background transparent
				border 2px solid $color-cafe
				border-radius 50%
				cursor pointer
				font-size 1.25em
				padding .25em .5em
				&:hover{
					opacity .7
				}
			}
		}
	}
}