.cut-popup {
	background rgba($color-cafe,.9)
	bottom 0
	left 0
	opacity 0
	pointer-events none
	position fixed
	right 0
	top 0
	transition opacity .5s ease-in-out
	z-index 999
	&.open{
		opacity 1
		pointer-events auto
	}
	.popup-container{
		background url('../build/img/bg.png')
		box-shadow 0 0 20px 10px rgba(black, .15)
		height 500px
		left 50%
		overflow hidden
		position absolute
		top 50%
		transform translate(-50%, -200%)
		transition transform .5s ease-in-out
		width 60%
		@media $lg{
			width 80%
		}
		@media $xs{
			height 90vh
			width 90%
		}
		@media $xxs{
			height 100vh
			width 100%
		}
		&.showing{
			transform translate(-50%, -50%)
		}
		.info{
			.meat-container{
				display none
			}
			h4{
				display none
				justify-content center
				font-size 30px
				height 80px
				line-height 90px
				text-align center
				pointer-events none
				position relative
				z-index 9
				@media $xxs{
					margin-top 100px
				}
			}
			.content{
				display flex
				flex-direction column
				flex-wrap wrap
				height 82%
				left 0
				margin-top 80px
				overflow auto
				padding 0 2em 2em
				position absolute
				top 0
				width 100%
				@media $xxs{
					height 70%
					top 100px
				}
				@media all and (max-height: 625px){
					height 65%
				}
				.meat-container{
					flex-direction column
				}
				.left{
					height auto
					order 2
					width 100%
					ul{
						align-items center
						display flex
						justify-content flex-start
						flex-wrap wrap
						min-height 100%
						width 100%
						li{
							margin 1px 0
							overflow hidden
							padding 0 2px
							width 25%
							@media $xs{
								width 100%
							}
							img{
								height auto
								margin 0
								padding 0
								width 100%
							}
						}
					}
				}
				.right{
					align-items center
					display flex
					height auto
					justify-content center
					order 1
					padding 6em 2em 4em
					width 100%
					@media $xxs{
						padding-left 1em
						padding-right 1em
					}
					p{
						text-align justify
					}
				}
			}
		}
		&.t-bone{
			.t-bone{
				display flex
			}
		}
		&.new-york{
			.new-york{
				display flex
			}
		}
		&.rib-eye{
			.rib-eye{
				display flex
			}
		}
		&.sirloin{
			.sirloin{
				display flex
			}
		}
		.header{
			align-items center
			background url('../build/img/bg.png')
			display flex
			height 80px
			justify-content space-between
			left 0
			padding 0 2em
			position absolute
			top 0
			width 100%
			z-index 9
			.logo-horizontal-img{
				height auto
				margin-top 20px
				width 130px
			}
			.close-popup{
				background transparent
				cursor pointer
				font-size 1.25em
				svg{
					border 2px solid $color-cafe
					border-radius 50%
					color $color-cafe
					height 40px
					padding 7px
					width 40px
				}
				&:hover{
					opacity .7
				}
			}
		}
	}
}