.products {
	height auto
	padding 0
	margin 0
	width 100%
	h2{
		font-size 2px !important
		margin 0 !important
	}
	.title-holder{
		margin-bottom 5em
		@media $xs{
			margin-bottom 3em
		}
	}
	.american-cuts{
		padding-bottom 3em
		position relative
		.floating-meat{
			height auto
			pointer-events none
			position absolute
			right 0
			top 50%
			transform translateY(-50%)
			width 390px
			@media $lg{
				width 300px
			}
			@media $medium-lg{
				width 200px
			}
			@media $medium-xs{
				width 0
			}
		}
		.floating-pepper{
			height auto
			left 0
			pointer-events none
			position absolute
			top 50%
			transform translateY(-50%)
			width 390px
			@media $lg{
				width 300px
			}
			@media $medium-lg{
				width 200px
			}
			@media $medium-xs{
				width 0
			}
		}
		.cuts-display{
			height auto
			margin 0 auto
			width 50%
			@media $medium-lg{
				width 70%
			}
			@media $medium-xs{
				width 80%
			}
			@media $xs{
				width 98%
			}
			.display-titles{
				align-items center
				display flex
				margin-bottom .5em
				width 100%
				li{
					font-family $fuente-texto
					font-size 20px
					margin-right 1em
					text-align center
					width 25%
					&:last-child{
						margin-right 0
					}
				}
			}
			.display-cuts{
				align-items center
				display flex
				width 100%
				li{
					cursor pointer
					margin-right 1em
					text-align center
					width 25%
					&:last-child{
						margin-right 0
					}
					img{
						height auto
						width 100%
					}
				}
			}
		}
	}
	.parrilla{
		background url('../build/img/parrilla-movil-resize.jpg') no-repeat center center
		background-attachment fixed
		background-size cover
		height auto
		padding 4em 0 12em
		position relative
		transform translateZ(1)
		@media $medium-lg{
			background-attachment scroll !important
		}
		@media $medium-xs{
			padding-bottom 10em
		}
		@media $xs{
			padding-bottom 6em
		}
		h3{
			color $color-dorado
			font-family $fuente-titulo
			font-size 5px
			margin 150px auto 0
			text-align center
			text-transform uppercase
			@media $medium-xs{
				margin 100px auto 0
			}
			@media $xxs{
				margin 50px auto 0
			}
		}
		p{
			color $color-blanco
		}
		.mini-title{
			color lighten($color-dorado, 20%)
			font-size 1.2em
			font-style italic
			@media $xs{
				text-align center
			}
		}
		ul{
			color $color-blanco
			text-align center
			li{
				text-align center
			}
		}
		.golden-span{
			color $color-dorado
		}
	}
}