.products {
	height auto
	padding 0
	margin 0
	width 100%
	h2{
		margin 0 auto 1em
		width 40%
	}
	.american-cuts{
		padding-bottom 3em
		position relative
		.floating-meat{
			height auto
			position absolute
			right 0
			top 50%
			transform translateY(-50%)
			width 400px
		}
		.floating-pepper{
			height auto
			left 0
			position absolute
			top 50%
			transform translateY(-50%)
			width 400px
		}
		.cuts-display{
			height auto
			margin 0 auto
			width 50%
			.display-titles{
				align-items center
				display flex
				margin-bottom .5em
				width 100%
				li{
					font-family $fuente-titulo
					font-size 20px
					margin-right 1em
					text-align center
					width 25%
					&:last-child{
						margin-right 0
					}
				}
			}
			.display-cuts{
				align-items center
				display flex
				width 100%
				li{
					cursor pointer
					margin-right 1em
					text-align center
					width 25%
					&:last-child{
						margin-right 0
					}
					img{
						height auto
						width 100%
					}
				}
			}
		}
	}
	.parrilla{
		background url('../build/img/parrilla-movil.jpg') no-repeat center center
		// background-attachment fixed
		background-size cover
		background transparent
		height auto
		padding 4em 0 14em
		position relative
		h3{
			color $color-dorado
			font-family $fuente-titulo
			font-size 45px
			margin 4.5em auto 1em
			text-align center
			text-transform uppercase
		}
		p{
			color $color-blanco
		}
		.golden-span{
			color $color-dorado
		}
	}
}