//titulo principal
@font-face {
	font-family: 'haymaker';
	    src: url('/css/fonts/haymaker-webfont.eot');
	    src: url('/css/fonts/haymaker-webfont.eot?#iefix') format('embedded-opentype'),
	         url('/css/fonts/haymaker-webfont.woff2') format('woff2'),
	         url('/css/fonts/haymaker-webfont.woff') format('woff'),
	         url('/css/fonts/haymaker-webfont.ttf') format('truetype'),
	         url('/css/fonts/haymaker-webfont.svg#haymakerregular') format('svg');
	    font-weight: normal;
	    font-style: normal;
}
//titulo secundario
@font-face {
    font-family: 'american';
    src: url('/css/fonts/american_brewery_rough-webfont.eot');
    src: url('/css/fonts/american_brewery_rough-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/american_brewery_rough-webfont.woff2') format('woff2'),
         url('/css/fonts/american_brewery_rough-webfont.woff') format('woff'),
         url('/css/fonts/american_brewery_rough-webfont.ttf') format('truetype'),
         url('/css/fonts/american_brewery_rough-webfont.svg#american_brewery_rough_demoRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
//texto normal
@font-face {
	font-family: 'geared';
	    src: url('/css/fonts/gearedslab-webfont.eot');
	    src: url('/css/fonts/gearedslab-webfont.eot?#iefix') format('embedded-opentype'),
	         url('/css/fonts/gearedslab-webfont.woff2') format('woff2'),
	         url('/css/fonts/gearedslab-webfont.woff') format('woff'),
	         url('/css/fonts/gearedslab-webfont.ttf') format('truetype'),
	         url('/css/fonts/gearedslab-webfont.svg#geared_slabregular') format('svg');
	    font-weight: normal;
	    font-style: normal;
}
//texto secundario
@font-face {
	font-family: 'bree';
	    src: url('/css/fonts/breeserif-regular-webfont.eot');
	    src: url('/css/fonts/breeserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
	         url('/css/fonts/breeserif-regular-webfont.woff2') format('woff2'),
	         url('/css/fonts/breeserif-regular-webfont.woff') format('woff'),
	         url('/css/fonts/breeserif-regular-webfont.ttf') format('truetype'),
	         url('/css/fonts/breeserif-regular-webfont.svg#bree_serifregular') format('svg');
	    font-weight: normal;
	    font-style: normal;

}