//colores
$color-blanco = #fff
$color-cafe = #382e2a
$color-dorado = #b1841d
//fuentes
$fuente-titulo = "haymaker", sans-serif
$fuente-titulo-secundario = "american", sans-serif
$fuente-texto = "geared", sans-serif
$fuente-texto-secundario = 'bree', sans-serif