//colores
$color-blanco = #fff
$color-cafe = #382e2a
$color-dorado = #b1841d
//fuentes
$fuente-titulo = Arial, sans-serif
// $fuente-titulo = "american", sans-serif
$fuente-titulo-secundario = "haymaker", sans-serif
$fuente-texto = "geared", sans-serif
$fuente-texto-secundario = 'bree', sans-serif
//queries
$lg = 'all and (max-width: 1200px)'
$medium-lg = 'all and (max-width: 1024px)'
$medium-xs = 'all and (max-width: 768px)'
$xs = 'all and (max-width: 640px)'
$xxs = 'all and (max-width: 480px)'
